@inject AppState AppState
@inject ScSoMe.Common.ApiClientFactory apiClientFactory

<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <HeadContent>
         <PageTitle>Startup Central Lounge</PageTitle>
         <MudElement HtmlTag="link"
                     rel="icon"
                     type="image/x-icon"
                     href="favicon.ico"></MudElement>
@*        <link rel="icon" type="image/png" href="~/favicon.ico" />
*@
        </HeadContent>
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<NavigationTracker />
</CascadingAuthenticationState>